button {
    &:focus {
        outline: none;
        box-shadow: 0px;
    }
}

.button {
    width: 100%;
    height: $sub-unit * 11;
    @include border-radius(22px);
    @include font-size(20);
    font-weight: bold;
    @include line-height(14);
    text-align: center;
    color: $white;
    background-color: $master-green;
    cursor: pointer;

    &:hover {
        color: $white;
        opacity: 0.8;
    }

    &:focus {
        outline: none;
        box-shadow: 0px;
    }
}

.button-secondary {
    @extend .button;
    font-weight: bold;
    color: $black;
    background-color: $white;
    @include border-radius(22px);
    border: solid 1px $master-very-light-grey;

    &:hover {
        color: $black;
        background-color: $master-very-light-grey;
        opacity: 1;
    }
}

.btn {
    @include font-size(16);
}

.pending-button {
    height: 32px;
    background-color: $master-red;
    @include border-radius(18px);
    font-family: 'DINNextLTArabic';
    @include font-size(12);
    text-align: right;
    font-weight: normal;
    @include line-height(13.3);
    border:none;

    &:focus {
        outline: none;
        box-shadow: 0px;
    }
}

.reject-button {
    @extend .pending-button;
    background-color: $master-red;
    max-width: 72px;
}

.approve-button {
    @extend .pending-button;
    background-color: $master-green;
    max-width: 81px;
}

.category-options {
    @include border-radius(22px);
    width:400px;
}

.add-row {
    height: $sub-unit * 9;
    min-width: 90px;
    @include border-radius(17px);
    @include font-size(12);
    background-color: $master-blue;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    font-family: 'DINNextLTArabic';
    font-weight: normal;
    border: none;
    cursor: pointer;
}

.add-new-campaign {
    @extend .add-row;
    height: rem(32);
    background-color: $master-red;
    line-height: rem(30);
    padding: 0px 5px 0 9px;
    display: flex;
    justify-content: center;

    &:hover {
        text-decoration: unset;
        opacity: 0.8;
        color: $white;
    }
}

.delete-row {
    width: 100%;
    min-width: 90px;
    height: 44px;
    font-family: 'DINNextLTArabic';
    background-color: $master-red;
    @include border-radius(22px);
    @include font-size(12);
    font-weight: normal;
    color: $white;
    border: none;
    cursor: pointer;

    &:hover {
        text-decoration: unset;
        opacity: 0.8;
        color: $white;
    }
}

.category-selection, select {
    @extend input[type="text"];
    padding-left: 32px;
    background-image: url('../assets/images/drop-down-icon.svg');
    background-repeat: no-repeat;
    background-position: $sub-unit * 2.5;
    text-overflow: ellipsis;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
        display: none;
    }
    
    &:focus {
        outline: none;
        box-shadow: 0px;
    }
}

.category-selection.date-selection {
    padding-left: 0;
    background-image:none;
}

a.cancel-campaing {
    font-size: rem(16);
    background-color: #EBEBEB;
    border-color:transparent;
}

.pagination {
    .page-item {
        &.previous, &.next {
            .page-link {
                background-color: #fff;
                color: #65bc43;
            }
        }

        .page-link {
            &:focus, &:active {
                box-shadow: unset;
            }
        }
    }
}
