.bootstrap-datetimepicker-widget {
    direction: ltr !important;
    top: -1px;
    bottom: 0;
    padding: 0;
    @include border-radius(22px);

    .list-unstyled {
        table {
            .timepicker-minute, .timepicker-hour {
                @include font-size(16);
                font-weight: bold;
            }

            [title*="Increment Hour"],
            [title*="Increment Minute"],
            [title*="Decrement Hour"],
            [title*="Decrement Minute"] {
                cursor: pointer;
                background-image: url('../assets/images/arrow-up.png');
                background-position: center;
                background-repeat: no-repeat;
                filter: invert(31%) sepia(100%) saturate(2648%) hue-rotate(200deg) brightness(102%) contrast(107%);

                span {
                    &:hover {
                        background: none !important;
                    }
                }
            }

            [title*="Decrement Hour"], [title*="Decrement Minute"] {
                background-image: url('../assets/images/arrow-down.png');
            }
        }
    }
}
