@font-face {
    font-family: 'DINNextLTArabic';
    src: url('../../assets/fonts/din-next-arabic-bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'DINNextLTArabic';
    src: url('../../assets/fonts/DIN Next LT Arabic Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'DINNextLTArabic';
    src: url('../../assets/fonts/DINNEXTLTARABIC-LIGHT.ttf') format('truetype');
    font-weight: 300;
}