<!DOCTYPE html>
<html  dir="rtl" lang="ar">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>حسابي</title>
       <link rel="stylesheet" href="../wwwroot/assets/lib/bootstrap/dist/css/bootstrap.css" />   
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">              
       <link rel="stylesheet" href="../wwwroot/assets/css/master.css" />
    
         
</head>

<body>
    <div class="container-fluid">                       
        <div class="mainContainer w-100">
            <h2>إنشاء حساب جديد </h2>
            <div class="content">                
                <form class="form-signup row w-50">
                        <div class="col-12">
                                <label>رقم الجوال</label>
                                <div class="input-group">
                                
                                    <input type="text" class="form-control" id="">
                                    <div class="input-group-prepend">
                                            <div class="input-group-text form-rounded">059</div>
                                    </div>
                                </div>
                        </div>    
                        <div class="col-12">
                            <div class="form-group">
                                <label>بريدك الإلكتروني</label>
                                <input type="email" class="form-control " id="" placeholder="youremail@example.com">
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">تسجيل</button>
                        </div>
                    
                </form>
            </div>
        </div>
       
        <footer>
            <div class="footer-copyright w-100">
                <p> &copy; جميع الحقوق محفوظة لشركةالاتصالات  الخلوية الفلسطينية - جوال 2018 </p>
            </div>
        </footer>                   
    </div>
     

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>             
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
   <script src="../wwwroot/assets/lib/jquery/dist/jquery.js"></script>
   <script src="../wwwroot/assets/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>

