
.create-camp-card {
    #wrapper {
        height: auto;
    }

    .camp-card-body {
        max-width: 100%;
        @include border-radius(16px);
        box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.27), 0 0 0 0.5px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: $unit * 4;



        .checkbox-container {
            width: 40%;
            margin-bottom: rem(20);

            .target-option-container {
                height: 40px;

                .checkbox-label {
                    @include line-height(12.5);
                    letter-spacing: 0.34px;
                    color: black;
                    margin-top: $sub-unit * 0.75;
                }
            }
        }

        .form-group {
            margin-bottom: rem(20);

            > input, textarea, .input-group, select {
                margin-bottom: 5px;
            }

            &:not(.filters) {
                width: 50%;
            }

            &.filters {
                margin-bottom: 32px;
            }

            .calculate-price {
                background-color: rgba(99, 187, 64, 0.135);
                color: $master-green;
            }
        }

        .datepicker-container {
            .time-picker-input {
                max-width: 100%;
            }
        }

        .addRow-button {
            text-align: right;
            display: flex;
            align-items: center;
            padding: 0 5px 0 10px;
            font-size: rem(14);
        }

        .delete-row {
            font-size: rem(14);
        }

        .criterias-container {
            margin-bottom: rem(20);

            .criteria {
                @media screen and (max-width: 768px ) {
                    > div {
                        padding: 0;
                    }
                }
            }
        }

        .price-label {
            width: 100%;
            font-family: 'DINNextLTArabic';
            color: $master-green;
            text-align: center;
            vertical-align: middle;
            @include font-size(24);
            font-weight: bold;
            height: $sub-unit * 11;
            border: 3px dotted rgba(99, 187, 64, 0.15);

            .currency {
                font-weight: normal;
                @include font-size(14);
                color: $master-black;
                @include line-height(40);
            }

            .price {
                @include line-height(50);
            }
        }

        .manage-form {
            border-top: 1px solid #bab7b778;
            width: 100%;
            padding-top: 3rem;
            margin-bottom: 0;

            > div {
                @media screen and (max-width: 768px ) {
                    width: 100% !important;
                }
            }
        }
    }

    .campaign-header {
        padding-bottom: 16px;
        font-size: rem(18);
    }

    textarea {
        resize: none;
        border-radius: 22px;
        font-size: rem(16);
    }

    @media screen and (max-width: 768px ) {
        .camp-card-body {
            padding: $unit * 4;

            .form-group {
                width: 100% !important;
            }
        }
    }

    @media screen and (min-width: 992px ) {
        .catagory-selection-container {
            padding-right: 0
        }
    }
}

    @media screen and (max-width: 1168px ) {
        .create-camp-card {
            padding: 0px;

            .campaign-header {
                margin-right: 40px;
                margin-top: 10px;
                font-size: 20px;
            }

            .camp-card-body {
                .checkbox-container {
                    width: 80%;
                }

                .criterias-container {

                    .criteria {
                        .catagory-selection-container {
                            width: 100%;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
