.dashboard {
    justify-content:space-around;
}

@media screen and (max-width: 992px ) {
    .dashboard {
        justify-content: space-between;
    }
}

@media screen and (max-width: 576px ) {
    .dashboard {
        justify-content: center;

        .col {
            margin-bottom:20px;
        }
    }
}