.account-manage-nav {
    padding: 0;

    .nav-link {
        color: unset;
        padding: 0.5rem 0;
        margin-left: 1.5rem;
        border-radius: 0;

        &.active {
            color: $master-green;
            border-bottom: 2px solid $master-green;
            background-color: unset;
        }

        &:hover {
            color: $master-green;
        }
    }

    @media screen and (max-width: 463px) {
        margin-bottom: 2rem;
        padding-right: 0;
    }
}
